<template>
    <div class="col-md-12">
        <div class="btn-toolbar mb-2 mb-md-0">
            <b-form-radio-group
                    v-if="loaded"
                    id="display_type"
                    v-model="dselected"
                    :options="displayoptions"
                    buttons
                    name="displaytype"
                    v-on:change="changeDisplayType">
            </b-form-radio-group>
        </div>
        <bar-chart v-if="loaded" :height=600 :chart-data="chartData" :options="options"/>
        <b-form-radio-group
                v-if="loaded"
                id="metric_stack"
                v-model="selected"
                :options="buttonoptions"
                buttons
                name="metricstack"
                v-on:change="changeData"
        ></b-form-radio-group>

    </div>
</template>

<script>
    import chartColors from "../../util/chartcolors";
    import BarChart from "./BarChart";

    export default {
        name: "TotalChart",
        components: {BarChart},
        props: ['jsonData'],
        data() {
            return {
                selected: ['code_added'],
                buttonoptions: [
                    {'text': 'Code Added', 'value': ['code_added']},
                    {'text': 'Code Changed', 'value': ['code_changed']},
                    {'text': 'Code Removed', 'value': ['code_removed']},
                    {'text': 'Comments Added', 'value': ['comment_added']},
                    {'text': 'Comments Changed', 'value': ['comment_changed']},
                    {'text': 'Comments Removed', 'value': ['comment_removed']},
                    {'text': 'Documentation Added', 'value': ['md_added']},
                    {'text': 'Documentation Changed', 'value': ['md_changed']},
                    {'text': 'Documentation Removed', 'value': ['md_removed']},
                    {'text': 'CC', 'value': ['cc_increase']},
                    {'text': 'PMD', 'value': ['pmd']},
                    {'text': 'Duplications', 'value': ['cpd']},
                    {'text': 'Estimated Time', 'value': ['estimated_time_spent']},
                    {'text': 'Merges', 'value': ['merges']},
                ],
                dselected: 'cumulative',
                displayoptions: [
                    {text: 'Cumulative', value: 'cumulative'},
                    {text: 'Daily', value: 'daily'}
                ],
                loaded: false,
                chartData: null,
                options: {
                    title: {
                        display: false,
                        text: 'Metrics'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            stacked: true,
                            type: 'time',
                            distribution: 'linear',
                            time: {
                                unit: 'day',
                                displayFormats: {
                                    day: 'ddd MMM Do'
                                }
                            },
                            gridLines: {
                                offsetGridLines: true
                            },
                            offset: true
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    },
                    onClick: this.showfiles
                }
            }
        },
        watch: {
            jsonData: function () {
                this.metricData = this.jsonData;
                //this.createOptions();
                this.updateData();
                this.loaded = true;
            }
        }
        ,
        methods: {
            generateStack(contributors, commits, stack) {
                let display = this.dselected;
                let dataset = {};
                contributors.forEach(function (contributor) {
                    dataset[contributor] = [];
                });
                let lastvalue = 0;
                for (let commitdate in commits) {
                    contributors.forEach(function (contributor) {
                        if (dataset[contributor].length > 0 && display === "cumulative") {
                            lastvalue = dataset[contributor][dataset[contributor].length - 1];
                        } else {
                            lastvalue = 0;
                        }
                        if (contributor in commits[commitdate]) {
                            let chosenmetric = lastvalue + (commits[commitdate][contributor][stack]);
                            dataset[contributor].push(chosenmetric);
                        } else {
                            dataset[contributor].push(lastvalue);
                        }
                    });
                }
                return dataset;
            },
            updateData() {
                let contributors = this.metricData["contributors"];
                let commits = this.metricData["commits"];
                let stacks = this.selected;
                let dataset;
                let chartData = {};
                let newdatasets = [];
                chartData.labels = Object.keys(this.metricData["commits"]);
                let borders = ['rgb(0, 200, 0)', 'rgb(0, 0, 200)', 'rgb(200, 0, 0)'];
                let border = 0;
                if (stacks.length > 1) {
                    border = 1;
                }
                for (let istack in stacks) {
                    dataset = this.generateStack(contributors, commits, stacks[istack]);
                    contributors.forEach(function (contributor, index) {
                        newdatasets.push({
                            label: contributor,
                            backgroundColor: chartColors[index],
                            borderColor: borders[istack],
                            borderWidth: border,
                            data: dataset[contributor],
                            stack: stacks[istack]
                        });
                    });
                }
                chartData.datasets = newdatasets;
                this.chartData = chartData;
            },
            changeData: function (checked) {
                this.selected = checked;
                this.updateData();
            },
            changeDisplayType: function (checked) {
                this.dselected = checked;
                this.updateData();
            },
            createOptions: function () {
                let newbuttons = [];
                this.metricData['metrics'].forEach(function (metric) {
                    newbuttons.push({"text": metric.replace("_", " "), "value": metric})
                });

                this.buttonoptions = newbuttons;
            },
            showfiles: function (point, event) {
                const item = event[0]
                this.$emit("daycommit", this.metricData["commits"][item._model.label])
            }
        }
    }
</script>

<style scoped>

</style>