<template>
    <div>
        <div v-if="repo" class="row">
            <div class="col-md-6">
                <h1 class="h2">{{ repo.name }}</h1>
            </div>
            <div class="col-md-6">
                <b-form inline>
                    <b-input-group prepend="Start Date" class="mb-2 mr-sm-2 mb-sm-0">
                        <b-form-datepicker id="start-date" :min="dateMin" :max="dateMax" :value="startDate"
                                           @input="updateStartDate"
                                           class="mb-2"></b-form-datepicker>
                    </b-input-group>
                    <b-input-group prepend="End Date" class="mb-2 mr-sm-2 mb-sm-0">
                        <b-form-datepicker id="end-date" :min="startDate" :max="dateMax" :value="endDate"
                                           @input="updateEndDate"
                                           class="mb-2"></b-form-datepicker>
                    </b-input-group>
                    <span class="h2"><b-icon v-b-modal.modal-daterange icon="info-circle"></b-icon></span>
                    <b-input-group prepend="Branch*" class="mb-2 mr-sm-2 mb-sm-0">
                        <b-form-select :value="currentBranch" :options="branches"
                                       @input="updateCurrentBranch"></b-form-select>
                    </b-input-group>
                </b-form>

            </div>
        </div>
        <b-tabs content-class="mt-3" v-if="repo" lazy>
            <b-tab title="Productivity" active>
                <div class="row">
                    <div class="col-md-6">
                        <CodeContrib/>
                    </div>
                    <div class="col-md-6">
                        <CommentContrib/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <DocContrib/>
                    </div>
                    <div class="col-md-6">
                        <HourChart v-if="repo"/>
                    </div>
                </div>
            </b-tab>
            <b-tab title="Quality">
                <div class="row">
                    <div class="col-md-6">
                        <Complexity v-if="repo"/>
                    </div>
                    <div class="col-md-6">
                        <Size v-if="repo"/>
                    </div>
                </div>
            </b-tab>
            <b-tab title="Commits">
                <CommitData />
            </b-tab>
            <b-tab title="Code Division">
                <GitBlame />
            </b-tab>
            <b-tab v-if="allowEdit" title="Committers">
                <Committers />
            </b-tab>
        </b-tabs>
        <b-modal title="Loading..." v-model="loading" :hide-footer=true>
            <center>

                <b-spinner class="ml-auto"></b-spinner>
            </center>
        </b-modal>
    </div>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import CodeContrib from "@/components/altCharts/CodeContrib";
import CommentContrib from "@/components/altCharts/CommentContrib";
import DocContrib from "@/components/altCharts/DocContrib";
import HourChart from "@/components/altCharts/HourChart";
import Complexity from "@/components/altCharts/Complexity";
import Size from "@/components/altCharts/Size";
import CommitData from "@/components/altCharts/CommitData";
import GitBlame from "@/components/altCharts/GitBlame";
import Committers from "@/components/settings/Committers";
//import api from "@/utils/api";

export default {
    name: "RepoOverview",
    components: {Committers, GitBlame, CommitData, Size, Complexity, CodeContrib, CommentContrib, DocContrib, HourChart},
    beforeRouteUpdate(to, from, next) {
        this.$store.commit('repos/emptyCurrentRepo');
        this.$store.commit('reports/emptyReports');
        this.$store.commit('reports/startLoading');
        this.$store.dispatch('repos/setCurrentRepo', to.params.repoId);
        next()
    },
    data() {
        return {}
    },
    mounted: function () {
        if (this.$store.getters["repos/getRepos"]) {
            this.$store.commit('reports/startLoading');
            this.$store.dispatch('repos/setCurrentRepo', this.$route.params.repoId);
        }
    },
    computed: {
        repo: function () {
            return this.getCurrentRepo;
        },
        allowEdit: function() {
            let userExists = this.repo.access.find(access => access.user == this.userName);
            return userExists.edit
        },
        ...mapState('reports', ['startDate', 'endDate', 'dateMin', 'dateMax', 'currentBranch', 'branches', 'loading']),
        ...mapGetters({
                getCurrentRepo: "repos/getCurrentRepo",
                userName: "auth/userName",
            }
        ),
    },
    methods: {
        updateCurrentBranch(e) {
            this.$store.commit('reports/updateCurrentBranch', e)
        },
        updateStartDate(date) {
            this.$store.commit('reports/updateStartDate', new Date(date))
        },
        updateEndDate(date) {
            this.$store.commit('reports/updateEndDate', new Date(date))
        }
    }
}
</script>

<style scoped>

</style>