<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand to="/">GitCanary</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-navbar-nav>
 <b-nav-item-dropdown
      id="my-nav-dropdown"
      text="Repos"
      toggle-class="nav-link-custom"
      right
    >
     <b-dropdown-item v-for="repo in repos" :key="repo.id" :to="{ name: 'Repo', params: { repoId: repo.id }}">{{repo.name}}</b-dropdown-item>
    </b-nav-item-dropdown>
            </b-navbar-nav>
            <b-navbar-nav class="ml-auto">
                <b-nav-text>{{userName}}</b-nav-text>
                <b-nav-item v-if="isAuthenticated" @click="logout">Sign out</b-nav-item>
            </b-navbar-nav>
        </b-navbar>


    </div>
</template>

<script>
import {mapGetters} from "vuex";
import {AUTH_LOGOUT} from "@/store/actions/auth";

export default {
    name: "NavBar",
    computed: {
        ...mapGetters({
                isAuthenticated: 'auth/isAuthenticated',
                repos: 'repos/getRepos',
                userName: 'auth/userName'
            }
        )
    },
    beforeRouteUpdate(to, from, next) {
        if(this.$store.getters['repos/getRepos'].length == 0)
            this.$store.dispatch('repos/fetchRepos', this.$route.params.repoId);
        next()
    },
    methods: {
        logout: function () {
            this.$store.dispatch('auth/' + AUTH_LOGOUT).then(() => this.$router.push("/login"));
        }
    },
}
</script>

<style scoped>

</style>