<template>
<div class="row">
    <div class="col-md-10">
        Current list representation, changes are updated with onChange call (page refresh still needed):
        <b-form-textarea rows="15" :value="repo.committers" @change="updateRepo"></b-form-textarea>
        Make sure it's proper JSON formatting. Use only "" etc.
    </div>
    <div class="col-md-2">
        Currently known names in commits:
        <ul>
            <li v-for="committer in knownCommitters" :key="committer">{{committer}}</li>
        </ul>
    </div>
</div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
name: "Committers",
    data() {
        return {
            formData: ""
        }
    },
    computed: {
        ...mapGetters({
                repo: "repos/getCurrentRepo",
                knownCommitters: "reports/foundCommitters"
            }
        ),

    },
    methods: {
        updateRepo: function(value) {
            this.$store.commit("repos/updateCommitters", JSON.parse(value));
        }
    }
}
</script>

<style scoped>

</style>